--- 
import Layout from "../layouts/Layout.astro"
import Footer from "../components/Footer.astro"
import Header from "../components/Header.astro"
---

<Layout hvadsomhelst="Nu er jeg på about">
    <Header />
    <main>
    <article>
        <h2>About</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, quis 
            nesciunt nulla at hic aliquid delectus provident quam laboriosam quidem blanditiis earum 
            debitis voluptates tempora quasi deserunt distinctio culpa fugiat.</p>
    </article>
</main>
    <Footer />
</Layout>
