---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BurgerMenu from "../components/BurgerMenu.astro";
---

<Layout>
  <Header />
  <section class="px-body-padding-x py-body-padding-y md:grid md:grid-cols-2">
    <h1 class="border-b-2 border-line-checkout pb-2 col-span-2">
      Privacy Policy
    </h1>
    <p class="font-semibold pt-space-l">
      The Great Wine Experience is committed to protecting your privacy online.
      We will collect, process and use the data provided solely in accordance
      with General Data Protection Regulation (EU Regulation: GDPR).
    </p>
    <div class="pt-space-l md:col-start-1">
      <h4 class="border-b-2 border-line-checkout">Personal Data</h4>
      <p class="pt-space-xs">
        When registering with us, your personal data (i.e. name, mobile number,
        email address, billing address, payment and order details) will be
        stored separately from the website. The data provided will be kept on
        file purely to deliver the best possible customer experience, or for
        compliance reasons.
      </p>
      <p>
        We may also process your data where it is made known to us in the
        ordinary course of our business including the supply of goods and
        services to the extent that such processing is required in order to
        carry out our obligations to supply.
      </p>
      <p>
        We may also have access to personal data via a third-party processing
        agreement. This personal data is processed in accordance with a legally
        binding agreement with the relevant third-party and complies with all
        applicable laws.
      </p>
      <p>
        We will not pass your data on to third parties except to fulfil your
        order. We will ensure that your data is stored securely and only
        processed in accordance with the law. When processing your data is no
        longer reasonably required to fulfil our legal obligations, including
        regulatory and accounting requirements, we will cease all use of the
        Data.
      </p>
    </div>
    <div class="pt-space-l row-start-4 col-start-2">
      <h4 class="border-b-2 border-line-checkout">Marketing Communications</h4>
      <p class="pt-space-xs">
        From time to time we may choose to send our newsletters to our
        subscribers to communicate special offers and promotions; invitations to
        events and tastings; and latest product news. We will only ever send
        these communications to you if you have consented to receiving such
        messages. You can subscribe to our mailing list at any time by signing
        up through the website.
      </p>
      <p class="pt-space-xs">
        If you no longer wish to receive these communications, you can choose to
        unsubscribe at any time by clicking on the footer link within the
        newsletter or email natalie@tgwe.dk and your details will be removed
        from the system. We will continue to communicate to you via email solely
        in order to update on the status of your order.
      </p>
    </div>
    <div class="pt-space-l row-start-5 col-start-2">
      <h4 class="border-b-2 border-line-checkout">
        Use of External Courier & Other Service Providers
      </h4>
      <p class="pt-space-xs">
        For the delivery of your items, the Company will make your order details
        available to external couriers. The couriers will process your data in
        compliance with current data protection laws and necessary security
        measures.
      </p>
    </div>
    <div class="pt-space-l row-start-6">
      <h4 class="border-b-2 border-line-checkout">
        About Cookies & How We Use Them
      </h4>
      <p class="pt-space-xs">
        A cookie is a tiny text file that records actions that you make on a
        website. All transactional/e-commerce sites require these so that you
        are able to "Add" items to shopping carts that remain there throughout
        the duration of your visit. This allows you to add multiple different
        products in one visit and purchase once your browsing is complete,
        should you wish to do so. We do not collect personal data from these and
        they are only used in order to make your shopping experience more
        convenient and enjoyable.
      </p>
      <p class="pt-space-xs">
        In addition, we use other cookies that improve our website so that it is
        more user friendly, contains richer content for you, and offers a more
        relevant experience to you as an individual and valued customer. For
        example, cookies that "remember" you from previous visits to our sites
        so that we can offer you relevant products and automatically sign you in
        to your account on reaching the site and cookies that allow "streaming"
        from other sites which enable us to play videos and display feeds direct
        from our accounts on various well-known social media platforms.
      </p>
      <p class="pt-space-xs">
        Furthermore, we use cookies to monitor certain performance statistics,
        i.e. what search term brought you to our website; whether you are on a
        PC or mobile device; how long you stayed on our site; etc. We use these
        solely for the purpose of improving our service and understanding our
        customers’ intentions on a larger scale, so that we can improve our site
        to deliver the best possible service.
      </p>
      <p class="pt-space-xs">
        Please Note: Certain areas of the website and some specific functions
        will not be available to you as a result of disabling your cookies. We
        assure you that under no certain circumstances do we collect and access
        any personal information or use this for any other means than to improve
        your visit to our site. We hope that you understand the information
        provided above.
      </p>
    </div>
    <p class="font-semibold pt-space-l row-start-7">
      If you have any questions, comments or suggestions regarding data
      protection laws or our privacy policy, please send an email to
      <span class="underline">natalie@tgwe.dk</span> or call us on +4550128381 and
      we will be able to answer any concerns that you have on this matter.
    </p>
  </section>
</Layout>
<BurgerMenu />
<Footer />
