---
import DownArrow from '../svg/icons/down-arrow.svg'
---
<div>
    <details class="">
        <summary class="flex justify-between gap-space-m border-b-2 border-black relative w-[9rem] md:w-[10rem]">
            <h6>Sort by</h6>
            <img src={DownArrow} alt="plus"/>
        </summary>
        <div class="flex flex-col absolute w-[9rem] md:w-[10rem] bg-white">
            <a class="border-b-2 border-black h-space-l flex items-center pl-[0.5rem]" href="">  Best Sellers</a>
            <a class="border-b-2 border-black h-space-l flex items-center pl-[0.5rem]" href="">  Highest price</a>
            <a class="border-b-2 border-black h-space-l flex items-center pl-[0.5rem]" href="">  Lowest price</a>
            <a class="border-b-2 border-black h-space-l flex items-center pl-[0.5rem]" href="">  Name A-Z</a>
            <a class="border-b-2 border-black h-space-l flex items-center pl-[0.5rem]" href="">  Name Z-A</a>
        </div>
      </details>
</div>

<style>
    a:hover{
        background-color: var(--color-product-list-grey);
    }

    a{
        font-size: var(--font-size-body-btn);
        font-family: var(--font-family-body);
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-button);
        line-height: var(--line-height-button-small-mobile);
        font-weight: var(--font-weight-button);
        text-transform: uppercase;
    }
</style>