---
import "../styles/global.css"
import favIcon from "../svg/logo/logo-mobile.svg"
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The Great Wine Experience is an online wine shop where users can buy quality, handpicked wines form small to medium sized wineries, book a variation of wine tastings, subscribe to monthly wine boxes and join a wine club">
	<meta name="keywords" content="Wine, Wine Tasting, Wine Subscription, Wine Club, København">
	<meta name="robots" content="noindex,nofollow">
	<title>The Great Wine Experience</title>
    <link rel="icon" type="image/x-icon" href={favIcon}>
</head>
<body>
	<main>
		<slot />
	<!-- <script >

document.addEventListener("DOMContentLoaded", init)

function init(){
    console.log("hee")
    console.log(document.querySelector('.hamburger'))
    document.querySelector('.hamburger').addEventListener('click', () => {
        document.querySelector('.burgerbox').classList.toggle('expanded');
      });
    
  }
	</script> -->
	</main>

</body>
</html>